secrets:
    ldap:
        hostname: localhost
        port: 389
        encryption: None
        base_dn: dc=orocrm,dc=com
        username: cn=admin,dc=orocrm,dc=com
        password: YOUR_PASSWORD
        default_business_unit_owner: Acme, General
        mapping:
            user_filter: objectClass=inetOrgPerson
            username: sn
            primary_email: cn
            first_name: givenName
            last_name: displayName
            role_filter: objectClass=simpleSecurityObject
            role_id_attribute: cn
            role_user_id_attribute: roleOccupant
            export_user_object_class: inetOrgPerson
            export_user_base_dn: dc=orocrm,dc=com

    mailchimp:
        api_token: YOUR_API_TOKEN

    zendesk:
        url: https://YOUR_COMPANY.zendesk.com
        email: YOUR@EMAIL
        token: YOUR_TOKEN
        user_email: YOUR@USER_EMAIL

    dotdigital:
        username: YOUR_USERNAME
        password: YOUR_PASSWORD

    payment:
        apruve:
            api_key: YOUR_API_KEY
            merchant_id: YOUR_MERCHANT_ID

        authorize:
            api_login_id: YOUR_API_LOGIN_ID
            transaction_key: YOUR_TRANSACTION_KEY
            client_key: YOUR_CLIENT_KEY

        paypal_express:
            client_id: YOUR_CLIENT_ID
            client_secret: YOUR_CLIENT_SECRET

        paypal_payflow:
            partner: PayPal
            vendor: YOUR_VENDOR
            user: YOUR_USER
            password: YOUR_PASSWORD

        paypal_pro:
            partner: PayPal
            vendor: YOUR_VENDOR
            user: YOUR_USER
            password: YOUR_PASSWORD

    shipping:
        ups:
            api_user: YOUR_API_USER
            api_password: YOUR_API_PASSWORD
            api_key: YOUR_API_KEY
            shipping_account_name: YOUR_SHIPPING_ACCOUNT_NAME
            shipping_account_number: YOUR_SHIPPING_ACCOUNT_NUMBER
        dpd:
            cloud_user_id: YOUR_CLOUD_USER_ID
            cloud_user_token: YOUR_CLOUD_USER_TOKEN
