{% set userFirstName = record.getValue('customerUserFirstName') %}
{% set userMiddleName = record.getValue('customerUserMiddleName') %}
{% set userLastName = record.getValue('customerUserLastName') %}

<div>
    <span>
        {{ userFirstName }}
        {% if userMiddleName is not empty %}
            {{ userMiddleName }}
        {% endif %}
    </span>
    <span>{{ userLastName }} </span>

</div>
